html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #20e690;
	color: black;
}

body {
	font-family: HelveticaTextbookCom-Roman, HelveticaTextbook-Roman, Helvetica, Arial, sans-serif;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-size: 41px;
	line-height: 41px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	line-height: 27px;
	font-weight: normal;
}

h1, h2 {
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 50vh;
	box-sizing: border-box;
	margin: 0;
	white-space: nowrap;
}

#flexWrapper {
	/*display: flex;
	flex-direction: column;
	justify-self: center;*/
	height: 100%;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
	width: 96%;
	margin: 0 2%;
}

h1 {
	width: 300%;
	margin-left: -100%;
}

h1 {
	animation-duration: 100s;
	animation-name: zoomin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

h2 {
	animation-duration: 100s;
	animation-name: zoomout;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes zoomin {
	from {
		font-size: 41px;
	}
	
	to {
		font-size: 350px;
	}

}

@keyframes zoomout {
	from {
		font-size: 22px;
	}
	
	to {
		font-size: 3px;
	}
}
